.btn_ppl_buscar {
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  color: white;
  background: #04AA6D;
  border-radius: 15px;
  border: sold 4px;
  margin-left: 100px;
}

.btn_ppl_buscar a{
  text-decoration: none;
}

.btn_ppl_buscar :hover {
  background-color: #3e8e41;

}
